---
layout: compress
---

{% include head.html %}

<main>

    {% include header.html %}


<br>

    {% if site.tags[page.slug] %}
    <p>
        Research related to <b>"{{ page.slug }}"</b>.<br>
        <small><a href="{{ site.baseurl }}/research">Remove filter</a></small>
    </p>
 
    <ul class="blog-posts">
        {% assign post_list = '' | split: ',' %}
        {% for post in site.tags[page.slug] %}
        {% for tag in post.tags %}
        {% assign post_list = post_list | push: post %}
        {% endfor %}
        {% endfor %}
        {% for post in post_list %}
        {% unless post == previous %}
        <li>
            <div style="display: inline;">
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                {% if post.status %}
                <span>&nbsp;{{ post.status }}</span>
                {% endif %}
            </div>
        </li>
        <li>
            {% if post.description %}
            <div>{{ post.description }}</div>
            {% endif %}  
        </li>
 	<div style="height: 40px;"></div> <!-- Ajoute un espace de 40px entre les posts -->
        {% endunless %}
        {% assign previous = post %}
        {% endfor %}

    </ul>
    {% else %}
    <p>
        There are no research related to {{ page.slug }}.
    </p>
    {% endif %}

</main>

{% include footer.html %}

</body>

</html>
